canvas {
	display: block;
	position: absolute;
	left: 32px;
	top: 32px;
	margin: auto;
	width: calc(100% - 64px);
	height: calc(100% - 80px);
	min-height: 210px;
	box-shadow: 0px 0px 6em DarkBlue;
  z-index: 3;
}

canvas.rotate, canvas.rotate * {
	cursor: url('../resources/cursor.png'), auto !important;
}

.instructions {
	position: absolute;
	top: 32px;
	left: 32px;
	z-index: 5;

	color: white;
	font-size: 24px;

	text-shadow: 0 0 20px #000;
}

.instructions li {
	padding-bottom: 15px;
}

.instructions.hide {
	display: none;
}

.end-message-wrapper{
	display: none;
	position: absolute;
	left: 32px;
	top: 32px;
	width: calc(100% - 64px);
	height: calc(100% - 80px);
	background-color: rgba(0, 0, 0, .3);
	z-index: 5;

	text-align: center;
	justify-content: center;
	align-items: center;

	color: white;
	font-size: 27px;
	font-family: sans-serif;
}

.end-message-wrapper.active{
	display: flex;
}

.end-message button {
	width: 150px;
	border: none;
	border-radius: 4px;
	background-color: #d7dde5;
	padding: 10px 0;

	font-size: 20px;

	cursor: pointer;
	user-select: none;
}